.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 242, 15, 0.17);
  box-sizing: border-box;
  .PokemonImg{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50%;
    height:50%;
    img{
      width:90%;
      height:90%;
    }
  }
  .DivBar{
    height:90%;
    width:1px;
    background:#000;
  }
  .InfoContent{
    width: 50%;
    height:95%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    row-gap:5px;
    *{
      margin:0;
    }
    p.PokemonName{
      font-weight:600;
    }
  }
}
@media screen and (max-width: 768px) {
  .Card {
    width: 270px;
    height: 180px;
    border-width: 3px 3px 3px 0px;
    border-style: solid;
    border-color: #000000;
  }
}
@media screen and (min-width: 1024px) {
  .Card {
    width: 300px;
    height: 200px;
    border: 3px solid #000000;
  }
}
