.BtnElementType {
  padding: 5px 8px;
  border-radius: 30px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
}
.normal {
  background: #c6c6a7 !important;
}
.fighting {
  background: #d67873 !important;
}
.flying {
  background: #c6b7f5 !important;
}
.poison {
  background: #c183c1 !important;
}
.ground {
  background: #ebd69d !important;
}
.rock {
  background: #d1c17d !important;
}
.bug {
  background: #c6d16e !important;
}
.ghost {
  background: #a292bc !important;
}
.steel {
  background: #d1d1e0 !important;
}
.fire {
  background: #f5ac78 !important;
}
.water {
  background: #9db7f5 !important;
}
.grass {
  background: #a7db8d !important;
}
.electric {
  background: #fae078 !important;
}
.psychic {
  background: #fa92b2 !important;
}
.ice {
  background: #bce6e6 !important;
}
.dragon {
  background: #a27dfa !important;
}
.dark {
  background: #a27dfa !important;
}
.fairy {
  background: #f4bdc9 !important;
}
