.Home {
  background: linear-gradient(192.05deg, #498cf0 9.9%, #ccf0bb 80.21%);
  width: 100vw;
  height: 100vh;
  overflow-y:scroll;
  .PokeList {
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: repeat(9, 170px);
    grid-row-gap: 15px;
    margin-top:15px;
  }
}
@media screen and (min-width:800px){
  .Home{
    .PokeList{
      grid-gap: 15px;
      grid-template-columns:repeat(4, 260px);
      justify-content:center;
    }
  }
}